<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mockup docs</title>
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" href="/dist/main.css" />
    <link rel="stylesheet" href="/dist/prism-themes/themes/prism-atom-dark.css" />
    <link rel="stylesheet" href="/dist/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="/dist/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/dist/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="http://localhost:8000/bundle.min.js"></script>
    <!-- <script type="text/javascript" src="/dist/bundle.min.js"></script> -->
    <script type="module" src="/dist/fakeserver.js"></script>
  </head>
  <body>
    <div id="main-wrapper">
      <nav id="sidebar">
        <ul class="menu">
          <li class="">
            <a class="" href="/">Home</a>
          </li>
          {% for pattern in collections.patterns %}
          <li class="">
            <a class="menu-item" href="{{ pattern.url }}">{{
              pattern.data.title
            }}</a>
          </li>
          {% endfor %}
          <li>---</li>
          {% for pattern in collections.externalpatterns %}
          <li class="">
            <a class="menu-item" href="{{ pattern.url }}">{{
              pattern | pageTitle
            }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>

      <main id="content">
        {{ content }}
      </main>
    </div>
  </body>
</html>
